<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>

    <h1> Pokedex </h1>
    <ul class="navigation">
        <li class="navbar">
            <a class="pokedexlink" href="/pokedex/">Pokemon</a>
            <a class="pokedexlink" href="/pokedex/new">Add New Pokemon</a>
        </li>
    </ul>

    
        <% for(let i = 0; i < data.length; i++) { %>
          <a class="pokemen" href="/pokedex/<%=i%>"><img class="pokemen" src= <%=data[i].img %>></a>
          <a class="edit" href="/pokedex/<%=i%>/edit">Edit</a>
        <% } %>
        
        <a class="verybestlink" href="https://www.youtube.com/watch?v=rg6CiPI6h2g">I wanna be the very best...</a>
        
</body>
</html>

<style>

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Pathway+Gothic+One&display=swap');


    .pokemen {
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 10%;
        object-fit: cover;
        margin: 0px 20px 30px 20px;
    }

    body {
        
        background-image: url('https://i.imgur.com/erah9c0.jpg');
        background-size: 1250px;
        background-attachment: fixed;
        margin: 0;
    }

    .navigation {
        background-color: rgb(184, 46, 46);
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        text-align: center;
        list-style: none;
        padding: 0px;
       

    }

    h1 {
        color: white;
        font-family: 'Pathway Gothic One', sans-serif;
        padding: 0px 0px 0px 0px;
        text-align: center;

    }

    .navbar {
        padding: 18px;
        
        
    }

    .pokedexlink {
        list-style: none;
        vertical-align: baseline;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        color: white;
        font-family:'Montserrat', sans-serif;
        padding: 0px 20px 0px 20px;
        
    }

    .pokedexlink:hover {
        color: #000000;
    }

    .edit {
        float: left;
        border-radius: 10%;
        object-fit: cover;
        margin: 80px 0px 100px 0px;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        color: black;
        font-family:'Montserrat', sans-serif;
    }

    .verybestlink {
        list-style: none;
        vertical-align: baseline;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        color: rgb(255, 0, 0);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        float: right;
        padding: 40px 40px 40px 40px;
    }


    .verybestlink:hover {
        color: #000000;
    }



</style>