<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1> Pokedex </h1>
    <ul class="navigation">
        <li class="navbar">
            <a class="pokedexlink" href="/pokedex/">Pokemon</a>
            <a class="pokedexlink" href="/pokedex/new">Add New Pokemon</a>
        </li>
    </ul>
        <h1>Add New Pokemon:</h1>
        
        <div class="form">
        <form action="/pokedex" method="POST">
            Id: <input type="text" placeholder="Id" name="id"></br>
            Name: <input type="text" placeholder="Name" name="name"></br>
            Type: <input type="text" placeholder="Type" name="type"></br>
            Img: <input type="text" placeholder="Image Link" name="img"></br>
            <h3>STATS:</h3> 
            HP: <input type="text" placeholder="HP" name="hp"></br>
            ATTACK: <input type="text" placeholder="ATTACK" name="attack"></br>
            DEFENSE: <input type="text" placeholder="DEFENSE" name="defense"></br>
        </br>
            <input class="add" type="submit" value="Add to Pokedex">
        </form>
        </div>
        
</body>
</html>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Pathway+Gothic+One&display=swap');
    
    
        
    
        body {
            margin: auto;
            background-image: url('https://i.imgur.com/erah9c0.jpg');
            background-size: 1250px;
            background-attachment: fixed;
            margin: 0;
        }
    
        .navigation {
            background-color: rgb(184, 46, 46);
            border-bottom: 1px solid #ffffff;
            border-top: 1px solid #ffffff;
            text-align: center;
            list-style: none;
            padding: 0px;
           
    
        }
    
        h1 {
            color: white;
            font-family: 'Pathway Gothic One', sans-serif;
            padding: 0px 0px 0px 0px;
            text-align: center;
    
        }
    
        .navbar {
            padding: 18px;
            
            
        }
    
        .pokedexlink {
            list-style: none;
            vertical-align: baseline;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            color: white;
            font-family:'Montserrat', sans-serif;
            padding: 0px 20px 0px 20px;
            
        }
    
        .pokedexlink:hover {
            color: #000000;
        }

        .form {
            color: rgb(0, 0, 0);
            font-family:'Montserrat', sans-serif;
            left: 45%;
            right: 50%;
            position: absolute;

        }

        .add {
            width: 130px;
            height: 40px;
            border-color:  rgb(184, 46, 46);
            border-width: medium;
            border-style: solid;
            border-radius: 50px;
            background-color:  rgb(184, 46, 46);
            color: white;
            margin: 20px 0px 0px 0px;
        }

        .add:hover {
            background-color: #ce3232;
            cursor: pointer;
        }

        .add:active {
            background-color: #ce3232;
            transform: translateY(2px);

        }

    
    
    
    </style>
